<ul class="box reset-txt">
    {notempty name='data'}
    {foreach name='data' item='vo'}
    <li class="boxli">
        <img src='{$vo.Image|default="__STATIC__/wap/images/shophone.png"}' alt="" class="mt10 mb10 boximg" />
        <p class="textColor2 fs24">{$vo.Name}</p>
        <p class="textColor3 fs16 stock">奖品数量：{$vo.LotteryCount}</p>
        <input type="button" class="mb10 boxliBtn boxliBtnS1 textColor1 lottery {if condition='$vo.LotteryEndTime < $now_time || $vo.LotteryBeginTime > $now_time'} Receive{/if}" data-url="{:url('Lottery/index', ['id' => $vo.ID])}" data-action="{:url('Lottery/getChance', ['id' => $vo.ID])}" value="去抽奖" />
    </li>
    {/foreach}
    {/notempty}
</ul>
<script>
    //进入抽奖页面
    $(".lottery").click(function(){
        var url = $(this).data('url');
        $.ajax({
            type:'get',
            url : $(this).data('action'),
            dataType:'json',
            success:function(result){
                if(result.code == 200){
                    $.post(url, function (html) {
                        $('#example-tabs3-activity').html(html);
                    });
                }else{
                    $('#myModal10 .tetmoal').text(result.data);
                    $('#myModal10').modal('show');
                }
            }
        });

    });
</script>